 @import '_vars';
 @import '_global';
 @import '_fonts';

 *,
 html{
	box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
  }

 .header__top-inner{
     display: flex;
     justify-content: space-between;
     height: 90px;

     align-items: center;
 }
 .header__text{
    
     margin-left: auto;
     margin-right: 50px;

     span{
         color: $red;
     }
 }
 .header__btn{
     padding: 9px;
     width: 90px;
     border-radius: 4px;
     text-align: center;
     font-size: 13px;
     color: white;
 }
 .header__btn-login{
     background-color: $green;
 }
 .header__btn-register{
     margin-left: 7px;
     background-color: $red;
 }
 .header__menu{
     background-color: $bg;
    
 }
 .menu{
     display: flex;
     align-items: center;
     height: 60px;
 }
 .menu__list{
a{
    color: #fff;
    font-size: 14px;
    font-weight: 300px;
}
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
    }
 }