body{
    padding-top: 300px;
    font-size: 100px;
    background-color:rgb(0, 255, 106);
    padding: 0ex;
    max-width: 1000px;
    li{
        font-size: 20px;
    }
}


.box{
    font-size: 12px;
}
.box{
    font-size: 12px;
}
.box{
    font-size: 12px;
}